@inject ISettingsProvider SettingsProvider
@inject IHtmlLocalizer<AppResources> T
@inject SquidexClientManager SquidexClientManager
@{
    var settings = await SettingsProvider.GetSettingsAsync();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @settings.SiteName</title>

    @if (!string.IsNullOrWhiteSpace(settings.BootstrapUrl))
    {
        <link rel="stylesheet" href="@settings.BootstrapUrl" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    }
    else
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    }

    @if (!string.IsNullOrWhiteSpace(settings.StylesUrl))
    {
        <link rel="stylesheet" href="@settings.StylesUrl" />
    }

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <div class="container2">
        <header>
            @{
                var image = SquidexClientManager.GenerateImageUrl(settings.Logo);
            }

            @if (!string.IsNullOrWhiteSpace(image))
            {
                <img class="logo" src="@image" alt="@settings.SiteName" />
            }
            else
            {
                <img class="logo" src="~/images/logo-half.png" alt="@settings.SiteName" />
            }
        </header>

        <content>
            @RenderBody()
        </content>

        <footer>
            <p>@settings.FooterText</p>

            @if (!string.IsNullOrWhiteSpace(settings.PrivacyPolicyUrl) || !string.IsNullOrWhiteSpace(settings.LegalUrl))
            {
                <p>
                    @if (!string.IsNullOrWhiteSpace(settings.LegalUrl))
                    {
                        <a href="@settings.LegalUrl" target="_blank" rel="nofollow">
                            @T["Legal"]
                        </a>
                    }
                    @if (!string.IsNullOrWhiteSpace(settings.PrivacyPolicyUrl))
                    {
                        <a href="@settings.PrivacyPolicyUrl" target="_blank" rel="nofollow">
                            @T["PrivacyPolicy"]
                        </a>
                    }
                </p>
            }
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        $(function () {
            $('.close').click(function () {
                $(this).parent().remove();
            });
        });
    </script>
</body>
</html>
