@inject ISettingsProvider SettingsProvider
@inject IHtmlLocalizer<AppResources> T
@inject SquidexClientManager SquidexClientManager
@{
    var settings = await SettingsProvider.GetSettingsAsync();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @settings.SiteName</title>

    @if (!string.IsNullOrWhiteSpace(settings.BootstrapUrl))
    {
        <link rel="stylesheet" href="@settings.BootstrapUrl" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    }
    else
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    }

    @if (!string.IsNullOrWhiteSpace(settings.StylesUrl))
    {
        <link rel="stylesheet" href="@settings.StylesUrl" />
    }

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <header>
                    @{
                        var image = SquidexClientManager.GenerateImageUrl(settings.Logo);
                    }

                    @if (!string.IsNullOrWhiteSpace(image))
                    {
                        <img src="@image" alt="@settings.SiteName" />
                    }
                    else
                    {
                        <img src="~/images/logo-half.png" alt="@settings.SiteName" />
                    }
                </header>

                <content>
                    @RenderBody()
                </content>

                <footer>
                    <p>@settings.FooterText</p>

                    @if (!string.IsNullOrWhiteSpace(settings.PrivacyUrl) || !string.IsNullOrWhiteSpace(settings.LegalUrl))
                    {
                        <p>
                            @if (!string.IsNullOrWhiteSpace(settings.LegalUrl))
                            {
                                <a href="@settings.LegalUrl" target="_blank" rel="nofollow">
                                    @T["Legal"]
                                </a>
                            }
                            @if (!string.IsNullOrWhiteSpace(settings.PrivacyUrl))
                            {
                                <a href="@settings.PrivacyUrl" target="_blank" rel="nofollow">
                                    @T["Privacy"]
                                </a>
                            }
                        </p>
                    }
                </footer>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
