@page
@inject IHtmlLocalizer<AppResources> T
@model RegisterModel
@{
    ViewData["Title"] = T["RegisterTitle"];
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Email">@T["EmailLabel"]</label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password">@T["PasswordLabel"]</label>
        <input asp-for="Input.Password" type="password" class="form-control" />
        <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword">@T["ConfirmPasswordLabel"]</label>
        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback"></span>
    </div>

    @if (Model.MustAcceptsTermsOfService)
    {
        <div class="form-group">
            <div class="form-check">
                <input asp-for="Input.AcceptTermsOfService" class="form-check-input" />
                <label asp-for="Input.AcceptPrivacyPolicy" class="form-check-label">
                    @T["AgreeToTermsOfService", Model.TermsOfServiceUrl]
                </label>

                <span asp-validation-for="Input.AcceptTermsOfService" class="invalid-feedback"></span>
            </div>
        </div>
    }

    @if (Model.MustAcceptsPrivacyPolicy)
    {
        <div class="form-group">
            <div class="form-check">
                <input asp-for="Input.AcceptPrivacyPolicy" class="form-check-input" />
                <label asp-for="Input.AcceptPrivacyPolicy" class="form-check-label">
                    @T["AgreeToPrivacyPolicy", Model.PrivacyPolicyUrl]
                </label>

                <span asp-validation-for="Input.AcceptPrivacyPolicy" class="invalid-feedback"></span>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary">@T["RegisterButton"]</button>
</form>