@inject SignInManager<UserEntity> SignInManager
@inject IHtmlLocalizer<AppResources> T
@{
    Layout = "/Pages/_Layout.cshtml";

    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @ViewContext.ActiveClass("Profile")" asp-page="./Profile">
            @T["ProfileLink"]
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ViewContext.ActiveClass("ChangePassword") @ViewContext.ActiveClass("SetPassword")" asp-page="./ChangePassword">
            @T["ChangePasswordLink"]
        </a>
    </li>

    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link @ViewContext.ActiveClass("ExternalLogins")" asp-page="./ExternalLogins">
                @T["ExternalLoginsLink"]
            </a>
        </li>
    }
</ul>

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}

