@inject SignInManager<UserEntity> SignInManager
@{
    Layout = "/Pages/_Layout.cshtml";

    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @ViewContext.ActiveClass("Index")" asp-page="./Index">Profile</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ViewContext.ActiveClass("ChangePassword")" asp-page="./ChangePassword">Password</a>
    </li>

    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link @ViewContext.ActiveClass("ExternalLogins")" asp-page="./ExternalLogins">External logins</a>
        </li>
    }
</ul>

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}

