@inject SignInManager<UserEntity> SignInManager
@{
    Layout = "/Pages/_Layout.cshtml";

    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="@ManageNavPages.IndexNavClass(ViewContext)">
                    <a asp-page="./Index">Profile</a>
                </li>

                <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
                    <a asp-page="./ChangePassword">Password</a>
                </li>

                @if (hasExternalLogins)
                {
                    <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
                        <a asp-page="./ExternalLogins">External logins</a>
                    </li>
                }
            </ul>

        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

