@page
@inject IHtmlLocalizer<AppResources> T
@model ChangePasswordModel
@{
    ViewData["Title"] = T["ChangePasswordTitle"];
}

<h2>@ViewData["Title"]</h2>

@{await Html.RenderPartialAsync("_StatusMessage", Model.StatusMessage);}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="Input.OldPassword">@T["OldPassword"]</label>
        <input asp-for="Input.OldPassword" class="form-control" />
        <span asp-validation-for="Input.OldPassword" class="invalid-feedback"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.NewPassword">@T["NewPassword"]</label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="invalid-feedback"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword">@T["ConfirmPassword"]</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback"></span>
    </div>

    <button type="submit" class="btn btn-primary">@T["ChangePasswordButton"]</button>
</form>