@page
@inject IHtmlLocalizer<AppResources> T
@model ExternalLoginsModel
@{
    ViewData["Title"] = T["ExternalLoginsTitle"];
}

<h2>@ViewData["Title"]</h2>

@{await Html.RenderPartialAsync("_StatusMessage", Model.StatusMessage);}

@if (Model.CurrentLogins?.Count > 0)
{
    <section class="subsection">
        <h4>@T["ExternalLoginsList"]</h4>

        <table class="table">
            <tbody>
                @foreach (var login in Model.CurrentLogins)
                {
                    <tr>
                        <td>@login.LoginProvider</td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-page-handler="RemoveLogin" method="post">
                                    <div>
                                        <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />

                                        <button type="submit" class="btn btn-danger">
                                            @T["ExternalLoginsRemove"]
                                        </button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}

@if (Model.OtherLogins?.Count > 0)
{
    <section class="subsection">
        <h4>@T["ExternalLoginsNew"]</h4>

        <form asp-page-handler="LinkLogin" method="post" class="form-horizontal">
            @foreach (var provider in Model.OtherLogins)
            {
                var lowerName = @provider.DisplayName.ToLowerInvariant();

                <button type="submit" class="btn btn-dark btn-@lowerName" name="provider" value="@provider.Name">
                    <i class="fab fa-@lowerName"></i> @provider.DisplayName
                </button>
            }
        </form>
    </section>
}
