@page
@inject IHtmlLocalizer<AppResources> T
@model SetPasswordModel
@{
    ViewData["Title"] = T["SetPasswordTitle"];
}

<h2>@ViewData["Title"]</h2>

@{await Html.RenderPartialAsync("_StatusMessage", Model.StatusMessage);}

<p class="text-muted">
    @T["SetPasswordText"]
</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <label asp-for="Input.NewPassword">@T["NewPasswordLabel"]</label>
        <input asp-for="Input.NewPassword" type="password" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword">@T["ConfirmPasswordLabel"]</label>
        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@T["SetPasswordButton"]</button>
</form>